<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/img/trumpet_icon.png">
<title>Trumpet</title>

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/common.css" rel="stylesheet">
<style>
.table td  
{
   text-align: center;   
}

.table 
{
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}
</style>
</head>
<body>
    <!-- Page Content -->
    <div class="container" id="content">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="display-1">{{ entity.getTitle }} </h1>
            </div>
            <div class="col-lg-12 text-center" style="margin-top:5%">
                <img src="img/trumpet.png" style="max-width:30%;max-width:30%" />
            </div>
        </div>
        <div class="row" style="margin-top:5%">
            <div class="col-lg-12 text-center">
                <p class="lead">{{ entity.getMessage }} </p>
            </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
                <td><h4>Trumpet Quickstart:</h4></td>
            </tr>
          </thead>
          <tbody>
            {% for entity in entities %}
            <tr>
                <td><a href="{{ entity.getLink }}">{{ entity.getTitle }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- /.row -->
    </div>
    <!-- /.container -->
<!-- jQuery Version 1.11.1 -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
